#counter 0
br
button.minus -
button.plus +

script.
	window.oc = window.oc || {};
	oc.cmd = oc.cmd || [];

	oc.cmd.push(() => {

		let counter = jQuery('#counter'), c = 0

		const refresh = () => counter.text(c)
		
		jQuery('.minus').click(() => {
			c -= 1
			refresh()
		})

		jQuery('.plus').click(() => {
			c += 1
			refresh()
		})
	})